/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.top-link__container {
  background-color: blueviolet;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: interFont-rg;
  src: url("./fonts/static/Inter-Regular.ttf");
}

@font-face {
  font-family: interFont-bd;
  src: url("./fonts/static/Inter-Bold.ttf");
}

@font-face {
  font-family: interFont-bdX;
  src: url("./fonts/static/Inter-ExtraBold.ttf");
}

@font-face {
  font-family: interFont-lt;
  src: url("./fonts/static/Inter-Light.ttf");
}

body {
  font-family: interFont-rg, sans-serif;
}

.top__link {
  display: flex;
  position: fixed;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-family: interFont-rg, sans-serif;
  background-image: linear-gradient(
    to right,
    rgb(15, 24, 44),
    rgb(11, 51, 82),
    rgb(18, 103, 175),
    rgb(23, 89, 218),
    rgb(18, 103, 175),
    rgb(11, 51, 82),
    rgb(15, 24, 44)
  );
  padding: 0.6rem 1rem;
  text-decoration: none;
}

.top__link:hover {
  background-image: linear-gradient(
    to right,
    rgb(15, 24, 44),
    rgb(11, 51, 82),
    rgb(41, 62, 108),
    rgb(49, 77, 137),
    rgb(37, 58, 103),
    rgb(11, 51, 82),
    rgb(15, 24, 44)
  );
}

.header {
  display: flex;
  position: fixed;
  z-index: 5;
  -webkit-box-pack: center;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 78px;
  margin-top: 48.39px;
  background-color: #121d33;
  border-bottom: 0.1px solid #4a4a4a;
}

.background__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}

.background__container {
  width: 100%;
  height: 67vh;
  position: absolute;
  z-index: -1;
  z-index: -1;
}

.logo__container {
  height: 24px;
}

.logo__container:hover {
  cursor: pointer;
}

.logo__image {
  width: 100%;
  height: 100%;
  display: block;
}

.header-mid__items {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  color: #fff;
  gap: 1rem;
}

.header-mid__items span:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.08);
  color: #fff;
  border-radius: 0.2rem;
}

.mid__btn {
  color: #ccd2de;
  background-color: transparent;
  border-radius: 5px;
  border-color: transparent;
}

.mid__btn.app {
  padding: 0px 20px;
}

.mid__btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.08);
  color: #fff;
}

.header-right__items {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1.35rem;
}

.header-right__items button {
  border-radius: 0.5rem;
  font-size: 14px;
}

.header-right__items button:hover {
  cursor: pointer;
  opacity: 80%;
}

.header-LogIn__btn {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  padding: 0.6rem 16px;
}

.header-signUp__btn {
  border-color: transparent;
  background-color: #fff;
  padding: 0.6rem 16px;
}

.header-search__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 5rem;
}

.header-search__logo:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.25);
}

.header-burger {
  flex-shrink: 0;
  width: 20px;
  height: 15px;
  color: #fff;
}

.header-burger:hover {
  cursor: pointer;
}

.mid__container {
  width: 100%;
  height: 40vh;
  position: absolute;
  top: 190px;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.mid {
  margin-top: 40px;
  margin-left: 15px;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 1.5rem;
}

.mid__heading {
  font-size: 1.4rem;
  font-weight: 700;
}

.mid__text {
  font-size: 1.09rem;
  word-spacing: 1px;
  font-weight: 500;
}

.mid-signUp__container {
  margin-top: 13px;
  display: flex;
  gap: 1rem;
}

.mid__email-input {
  max-width: max-content;
  padding: 8px 70px;
  border-radius: 10px;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 0.153);
}

::-webkit-input-placeholder {
  color: #fff;
  font-size: 14px;
  position: absolute;
  top: 10px;
  left: 15px;
}

.signUp__btn {
  padding: 0px 15px;
  font-size: 14px;
  color: rgb(12, 108, 242);
  border-radius: 10px;
  border-color: transparent;
}

.signUp__btn:hover {
  color: rgba(12, 108, 242, 0.9);
  background-color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.cryptocurrencies {
  position: absolute;
  top: 28.5rem;
  overflow-x: scroll;
  width: 100%;
}

.crypto__container {
  display: flex;
  align-items: center;

  z-index: 6;
  flex-flow: row nowrap;
  width: 100%;
  background-color: transparent;
  gap: 0.6rem;
  padding-bottom: 4.8rem;
  padding-right: 4rem;
}

.crypto {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 250px;
  height: 140px;
  margin-left: 15px;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
  border-radius: 0.5rem;
  box-shadow: rgba(103, 113, 133, 0.2) 0.75rem 1.5rem 4rem 0rem;
  color: rgb(18, 29, 51);
  min-width: 0px;
  padding: 20px 10px;
  transition: background-image 0.6s ease 0s;
  flex-shrink: 0;
}

.crypto__icon,
.crypto__details,
.crypto__price {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  gap: 10px;
  padding: 0px 10px 0px 5px;
}

.crypto:hover {
  background-image: linear-gradient(
    rgb(255, 255, 255),
    rgb(255, 255, 255),
    rgb(239, 247, 245)
  );
  cursor: pointer;
}

.crypto__icon {
  font-size: 14px;
  padding-bottom: 10px;
}

.crypto__icon svg {
  margin-right: 3rem;
}

.buy__btn {
  border-color: transparent;
  border-radius: 4px;
  font: 7px;
  width: 40px;
  height: 27px;
  color: rgb(83, 34, 229);
}

.buy__btn:hover {
  background-color: #e4e4e4;
}

.trade__btn {
  background-color: #e3faef;
  border-radius: 4px;
  color: #00994c;
  border-color: transparent;
  width: 55px;
  height: 27px;
}

.crypto__sign {
  color: rgb(127, 126, 126);
  font-weight: 600;
  font-size: 15px;
}

.crypto__loss {
  color: rgb(0, 153, 77);
}

@media screen and (min-width: 1022px) {
  .header-burger {
    display: none;
  }
}

@media screen and (max-width: 620px) {
  .header-right__items {
    display: none;
  }

  .top__link {
    font-size: 14px;
  }
}

@media screen and (min-width: 786px) {
  .top__link {
    font-size: 16px;
    padding: 0.74rem 1rem;
  }

  .mid__heading {
    font-size: 3rem;
    width: 600px;
    line-height: 3.5rem;
  }

  .background__container {
    height: 100vh;
  }

  .mid {
    padding-top: 4rem;
    line-height: 2rem;
  }

  .crypto__container {
    width: 100wh;
    justify-content: center;
  }

  .cryptocurrencies {
    top: 42rem;
  }

  .mid__text {
    font-size: 1.6rem;
  }

  .mid {
    gap: 3rem;
    margin-left: 40px;
  }

  .mid__text {
    margin-top: -1.27rem;
  }

  .mid-signUp__container {
    margin-top: -0.7rem;
    height: 3rem;
  }

  .signUp__btn {
    padding: 12px 15px;
    display: flex;
    align-items: center;
  }

  ::-webkit-input-placeholder {
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 13px;
    left: 15px;
  }
}

@media screen and (max-width: 1024px) {
  .header-mid__items {
    display: none;
  }

  .header {
    justify-content: space-between;
    padding: 0px 25px;
  }
}
